h1 {
    text-align: center;
}

.marker {
    /* Since the div has no content in it,
    it doesn't have any height by default */
    height: 25px;
    width: 200px;
    /* This creates some space between the divs */
    margin: 10px auto;
}